.box{
    height: 300px;
    padding: 8px;
    transition: ease-in-out 5s;
    background-position: top;
    width:auto;
    
}
.box.box-1{
    
    background-size: cover;
}
.box.box-2{
    background: url('../../assets/screenshot (2).png');
    background-size: cover;
}
.box.box-3{
    background: url('../../assets/screenshot (3).png');
    background-size: cover;
}
.box:hover{
    background-position: bottom;
}